@font-face{
    font-family: 'Averta';
    src: url('/fonts/Averta-Black.woff') format('woff'),
        url('/fonts/Averta-Black.woff') format('woff');
        font-weight:500;
        font-style: normal;
}

@font-face{
    font-family: 'Averta-Regular';
    src: url('/fonts/Averta.woff') format('woff');
        font-style: normal;
}

@font-face{
    font-family: 'Averta-Bold';
    src: url('/fonts/Averta-Bold.woff')  format('woff');
    font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: Averta-Semibold;
}

.active {
  color: #E7332B !important;
  font-family: 'Averta-Bold'!important;
}

/* navigation */

.navbar {
  text-transform: capitalize;
  /* font-weight: 700; */
  font-size: 16px !important;
  letter-spacing: 0.1rem;
 background: #F2EBE9!important;
}



.navbar-dark .navbar-nav .nav-link {
  color: #514949;
  padding-top: 0.8rem;
  font-size: 16px;
  font-family:  Averta-Regular !important;
}

.nav-link:hover {
  color: #E7332B !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E7332B !important;
}

/* mentor page */

.mentor-intro {
  background: #F2EBE9;
  height: 306px;
 
}
 
.mentor-intro p{
    font-size: 32px;
    font-family: Averta-Bold;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 96px;
}

.page-heading {
  color: #E7332B;
  font-size: 14px;
  padding-top: 80px;
  font-family: Averta-Regular;
}



#mentor-gallery {
  margin-top: 98px;
}
.mentor-image {
  text-align: center;
}

.mentor-detail {
  margin-bottom: 50px;
}



.mentor-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mentor-track {
  font-size: 14px;
  margin-bottom: 0px;
}

/* enroll section */

#enroll {
  height: 669px;
  padding: 173px 0 153px 0;
}

#enroll-content {
  background: url('../images/mentors/dark-bg.svg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 342px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enroll-content p {
  margin-bottom: 48px;
  font-size: 24px;
}

.btn-red {
  width: 148px;
  height: 46px;
  background: #E7332B;
  color: #fff;
}

/* footer */

footer p {
  font-family: Averta-Bold;
  font-size: 16px;
  padding: 10px 0 10px 0;
}

footer a{
  font-family: Averta-Regular;
  font-size: 12px;
}

footer ul {
  list-style: none;
}

.footer-content {
  justify-content: space-between;
  border-bottom: 1px solid #514949;
  padding-bottom: 30px;
}

.justify-between {
  justify-content: space-between;
}

.contact-info {
  flex-direction: column;
}

footer a {
  color: #514949;
  
}

footer li {
  font-family: Averta-Regular;
  font-size: 12px
}

footer a:hover {
  text-decoration: none;
  color: #E7332B;
  font-weight: 700;
}

/* media queries */

@media (max-width: 767px){

  .mentor-intro {
    height: 180px;
  }

  .page-heading {
    padding-top: 40px;
  }

  .mentor-info {
  padding: 0 10px ;
}

  .mentor-intro p{
    font-size: 14px;
    font-family: Averta-Regular;
    width: 100%;
  }

  #mentor-gallery {
    margin-top: 30px;
  }

  .mentor-detail {
    margin-bottom: 30px;
  }
  .mentor-info {
    padding: 0 10px ;
  }

  /* enroll section */

  #enroll {
    height: 201px;
    padding: 10px 0 153px 0;
}
#enroll .container {
  margin: 0;
  padding: 0;
}

#enroll-content {
  height: 200px;
}

  #enroll-content p {
    font-size: 16px;
  }

  .footer-content {
    display: none !important;
  }

  .footer-logo {
    margin: 80px 0;
  }

  .social-handles {
    margin-top: 60px;
    margin-bottom: 70px;
    justify-content: center;
  }

  .socials img {
    margin-bottom: 22px;
  }

  .contact-address {
    margin-top: 40px;
  }

  footer {
    border-bottom: 1px solid #514949;
  }

  .footer-date {
    height: 50px;
  }

  .footer-date p {
    font-family: Averta-Bold;
    font-size: 12px;
  }

}