@font-face {
  font-family: "Averta-Regular";
  src: url("../fonts/Averta.woff") format("woff"),
       url("../fonts/Averta.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Averta-Bold";
  src: url("../fonts/Averta-Bold.woff") format("woff"),
       url("../fonts/Averta-Bold.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Averta-Semibold";
  src: url("../fonts/Averta-Semibold.woff") format("woff"),
       url("../fonts/Averta-Semibold.otf") format("opentype");
  font-weight: normal;
}
html{
  overflow-x: hidden; 
}
body {
  overflow-x: hidden;
  font-family: Averta-Regular;
  color: #505962;
  line-height: 1.5;
  font-size: 16px;
}

.active {
  color: #E7332B !important;
  font-family: 'Averta-Bold'!important;
}

/* navigation */

header {
 font-family: Averta-Regular; 
}

.navbar {
  text-transform: capitalize;
  /* font-weight: 700; */
  font-size: 16px !important;
  letter-spacing: 0.1rem;
 background: #F2EBE9!important;
}


.navbar-dark .navbar-nav .nav-link {
  color: #514949;
  padding-top: 0.8rem;
  font-size: 16px !important;
  font-family:  Averta-Regular !important;
}

.nav-link:hover {
  color: #E7332B !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E7332B !important;
}

.btn-red {
  width: 148px;
  height: 46px;
  background: #E7332B;
  color: #fff;
}
/* mentor page */

.mentor-intro {
  background: #F2EBE9;
  height: 306px;
 
}
 
.mentor-intro p{
    font-size: 32px;
    font-family: Averta-Bold;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 96px;
}

.page-heading {
  color: #E7332B;
  font-size: 14px;
  padding-top: 80px;
  font-family: Averta-Regular;
}



#mentor-gallery {
  margin-top: 98px;
}
.mentor-image {
  text-align: center;
}

.mentor-detail {
  margin-bottom: 50px;
}



.mentor-name {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mentor-track {
  font-size: 14px;
  margin-bottom: 0px;
}

/* enroll section */

#enroll {
  height: 600px;
  padding: 100px 0 0px 0;
}

#enroll-content {
  background: url('../images/mentors/dark-bg.svg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 342px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enroll-content p {
  margin-bottom: 48px;
  font-size: 24px;
}


/* footer */

footer p {
  /* font-family: Averta-Bold; */
  font-size: 16px;
  padding: 10px 0 10px 0;
}

footer a{
  font-family: Averta-Regular;
  font-size: 12px;
}

footer ul {
  list-style: none;
}

.footer-content {
  justify-content: space-between;
  border-bottom: 1px solid #514949;
  padding-bottom: 30px;
}

.justify-between {
  justify-content: space-between;
}

.contact-info {
  flex-direction: column;
}

footer * {
  font-family: Averta-Regular;
  color: #505962;
  line-height: 1.5;
}


footer a {
  color: #514949;
  font-size: 16px !important;
}

footer li {
  font-family: Averta-Regular;
  font-size: 16px !important;
}

footer a:hover {
  text-decoration: none;
  color: #E7332B;
  font-weight: 700;
}

/* footer */

.disp-1 {
    margin-top: 100px;
}

@media screen and (min-width: 1000px ) {
    .disp-1 {
        display: none;
    }
}

@media screen and (max-width: 1000px ) {
    .disp-2 {
        display: none;
    }
}
/* bells codes */
.mentor-detail * {
  margin: 0;
}

.mentor-detail * + * {
  margin-top: 0.75em;
}

@media (min-width: 768px) {
  .mentor-detail  {
    margin-bottom: 5em;
  }

  .mentor-image img {
    width: 100%;
  }

}

#mentor-gallery .col-md-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.mentor-detail img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mentor-detail:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.mentor-image {
  overflow: hidden;
}



/* FONT SIZING  */
.mentor-name {
  font-family: Averta-Semibold;
  font-size: 1em;
  color: #514949;
}

.mentor-track {
  font-family: Averta-Semibold;
  font-size: 0.875em;
  line-height: 1.7;
  color: #514949;
}

.sub-heading {
  font-family: Averta-Regular;
  font-size: 0.875em;
  line-height: 1.7;
  color: #e7332b;
}

.big-heading {
  font-family: Averta-Regular;
  font-size: 0.875em;
  line-height: 1.7;
  text-align: center;
  color: #514949;
}
@media (min-width: 500px) {
  .big-heading {
    font-family: Averta-Bold;
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  

  .mentor-name {
    font-family: Averta-Bold;
    font-weight: bold;
    font-size: 1.125em;
    line-height: 1.5;
    color: #514949;
  }

  .mentor-track {
    font-family: Averta-Regular;
    font-size: 1em;
    line-height: 1.5;
    color: #514949;
    opacity: 0.9;
  }

  .big-heading {
    font-family: Averta-Bold;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
    color: #514949;
  }
}

.custom-container {
  padding: 15px;
}

@media (min-width: 768px) {
  .custom-container {
    padding: 0 5em;
  }
}

/* media queries */

@media (max-width: 767px){

  .mentor-intro {
    height: 180px;
  }

  .page-heading {
    padding-top: 40px;
  }

  .mentor-info {
  padding: 0 20px ;
}

  .mentor-intro p{
    font-size: 14px;
    font-family: Averta-Regular;
    width: 100%;
  }

  #mentor-gallery {
    margin-top: 30px;
  }

  .mentor-detail {
    margin-bottom: 30px;
  }

  /* enroll section */

  #enroll {
    height: 201px;
    padding: 10px 0 153px 0;
}
#enroll .container {
  margin: 0;
  padding: 0;
}

#enroll-content {
  height: 200px;
}

  #enroll-content p {
    font-size: 16px;
  }

  .footer-content {
    display: none !important;
  }

  .footer-logo {
    margin: 80px 0;
  }

  .social-handles {
    margin-top: 60px;
    margin-bottom: 70px;
    justify-content: center;
  }

  .socials img {
    margin-bottom: 22px;
  }

  .contact-address {
    margin-top: 40px;
  }

}